body {
  padding: 0;
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

/* THIS IS THE FIRST PAGE  */
.page1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  background-color: rgb(252,252,252);
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.lautech-logo1, .lautech-logo2 {
  width: 90px;
}

.page1-content-container {
  width: 80%;
  background-color: white;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  padding: 30px 50px;
  border-radius: 7px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page1-content-container h2 {
  color: rgb(225, 174, 112);
}

.page1-lines {
  color: rgb(127, 121, 121);
  font-size: 17px;
  line-height: 25px;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  justify-content: center;
}

.page1-link1, .page1-link2 {
  color: rgb(0, 128, 255);
  cursor: pointer;
}
.page1-link1:hover, .page1-link2:hover {
  text-decoration: underline;
}

.password-reset-container {
  background-color: rgb(251, 224, 228);
  color: darkred;
  padding: 20px 25px;
  line-height: 25px;
  border-radius: 7px;
  word-spacing: 2px;
}

.password-reset-container b {
  color: rgb(95, 0, 0);
}

.admission-status-link {
  cursor: pointer;
  color: rgb(0, 128, 255);
}

.admission-status-link:hover {
  text-decoration: underline;
}

.page1-link3 {
  color: red;
}

.application-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 15px;
}

.application-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.application-form-container:hover .application-shadow {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}


.application-title {
  background-color: #c0a062;
  color: white;
  padding: 10%;
  width: 80%;
  text-align: center;
}

.application-shadow {
  width: 100%;
  transition: box-shadow .4s;
}

.application-price {
  background-color: rgb(240, 240, 240);
  color: rgb(96, 96, 96);
  width: 80%;
  padding: 10%;
  text-align: center;
}

.application-date {
  background-color: white;
  color: red;
  width: 80%;
  padding: 10%;
  text-align: center;
  border-color: white;
  border-style: solid;
  border-bottom-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-color:  rgb(241, 241, 241);

}

.application-details {
  width: 80%;
  padding: 10%;
  background-color: white;
  text-align: center;
  color: rgb(0, 128, 255);
}

.application-details span {
  width: 80%;
  padding: 10%;
  cursor: pointer;
}


.application-details span:hover {
  text-decoration: underline;
}

.application-status {
  background-color: rgb(240, 240, 240);
  width: 80%;
  padding: 10%;
  display: flex;
  justify-content: center;
}

.apply-now {
  background-color: rgb(17, 209, 17);
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.apply-now a {
  color: white;
}

.closed {
  background-color: rgb(203, 11, 11);
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.bottom-account {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 66%;
}

.bottom-account h2 {
  color: #c0a062;

}
/* 
.bottom-account div{
  /* align-items: start;
  display: flex;
} */

.bottom-account span{
  color: rgb(0, 128, 255);
  cursor: pointer;
}

.bottom-account span:hover{
  text-decoration: underline;
}

@media (min-width: 451px) and (max-width: 800px) {
  .page1-container {
    width: 76%;
    margin-right: 12%;
    margin-left: 12%;
  }
  
  .application-form-grid {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 15px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  
  .application-status {
    background-color: rgb(240, 240, 240);
    width: 80%;
    padding: 10%;
  }

  .apply-now {
    padding: 10px 10px;
    border-radius: 5px;
  }

  .closed {
    padding: 10px 10px;
  }

  .bottom-account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }

  .bottom-account {
    font-size: 14px;
    word-spacing: 1px;
  }
}



@media (max-width: 450px) {

  body {
    padding: 10px 20px;
  }
  

  .page1-content-container h2 {
    font-size: 16px;
  }

  .page1-line1, .page1-line2, .page1-line3, .password-reset-container strong, .page1-link2, .page1-link3, .admission-status-link, .bottom-account div ,.bottom-account span {
    font-size: 14px;
    font-weight: 400;
  }

  .page1-container {
    width: 76%;
    margin-right: 12%;
    margin-left: 12%;
  }
  
  .application-form-grid {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 15px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  
  .application-status {
    background-color: rgb(240, 240, 240);
    width: 80%;
    padding: 10%;
  }

  .apply-now {
    padding: 10px 10px;
    border-radius: 5px;
  }

  .closed {
    padding: 10px 10px;
  }

  .bottom-account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }

  .bottom-account {
    font-size: 14px;
    word-spacing: 1px;
  }
}