
.profile-body-container, body {
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
}


.profile-mini-side-bar {
  height: initial;
}


.view-profile, .profile-navbar-user-container {
  margin-right: 25px;
}

.top-content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

.username-profile {
  color: rgba(255, 0, 0, 0.799);
  font-weight: 600;
}


.download-icon {
  margin-right: 25px;
  background-color: rgb(50, 220, 189);
  color: white;
  padding: 10px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: .85rem;
}

.student-data {
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 20px;
} 

.personal-data{
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: solid rgba(220, 220, 220, 0.56) 1px;
  border-radius: 5px;
  overflow: hidden;
  overflow-x: scroll;
}

.education-data {
  width: 44%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0 , .15);
  border: solid rgba(220, 220, 220, 0.56) 1px;
  border-radius: 5px;
  overflow: hidden;
  overflow-x: scroll;
  padding-right: 30px;
}


.personal-data h4, .education-data h4 {
  padding: 14px ;
  height: 100%;
  margin: 0;
  border-bottom: solid rgba(220, 220, 220, 0.56) 1px;
}

.education-data h4 {
  color: rgba(0, 110, 255, 0.865);
  background-color: rgba(240, 248, 255, 0.417);
  width: 100%;
}

.details-container {
  width: 400px;
  padding-left: 14px;
}

.education-data-type, .education-data-details  {
  padding-top: 20px;
}
.education-data-type span, .education-data-details div {
  height: 24px;
}

.education-data-type span {
  font-weight: 600;
  font-size: .91rem;
}

.education-data-details div {
  font-size: .95rem;
  opacity: .8;
}


.education-data-type {
  width: 200px;
}

.admission-status {
  color: red;
  font-weight: 600;
}



@media (min-width: 451px) and (max-width: 1100px) {

  

  .download-icon {
   display: none;
  }

  
  .student-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    align-items: start;
    row-gap: 15px;
    margin-right: 15%;
  } 

  .personal-data{
    width:  100%;
    max-width: 500px;
    overflow: hidden;
    overflow-x: scroll;
  }

  .education-data {
    width: 100%;
    max-width: 500px;
    margin: 0;
    overflow: hidden;
    overflow-x: scroll;
    padding-right: 0px;
  }


  .details-container {
    width: 400px;
    padding-left: 14px;
  }
  
  .education-data-type, .education-data-details  {
    padding-top: 20px;
  }
  .education-data-type span, .education-data-details div {
    height: 24px;
  }
  
  .education-data-type span {
    font-weight: 600;
    font-size: .87rem;
  }
  
  .education-data-details div {
    font-size: .9rem;
    opacity: .8;
  }
  
  
  .education-data-type {
    width: 200px;
  }
  
  .admission-status {
    color: red;
    font-weight: 600;
  }
  
}


@media (max-width: 450px) {

    
  .view-profile, .profile-navbar-user-container {
    margin-right: 25px;
  }

  .username-profile {
    font-size: .95rem;
  }


  .download-icon {
    display: none;
  }
    
  .student-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    row-gap: 15px;
    margin-right: 10px;
    margin-left: -5px;
  } 

  .personal-data, 
  .education-data{
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    background-color: white;
    display: flex;
    margin: 0;
  }

  .education-data {
    padding-right: 0;
  }


  .personal-data h4, .education-data h4 {
    padding: 10px ;
    font-size: .95rem;
  }

  .details-container {
    width: 350px;
  }

  .education-data-type, .education-data-details  {
    padding-top: 15px;
  }
  .education-data-type span, .education-data-details div {
    height: 20px;
  }

  .education-data-type span, .personal-data span{
    font-weight: 600;
    font-size: .99rem;
    opacity: .9;
  }
  
  .details-type, .user-details {
    row-gap: 5px;
  }
  

  .education-data-details div,  .personal-data div {
    font-size: .65rem;
    opacity: .9;
  }
}