.login-content span {
  margin-bottom: 10px;
  font-size: .95rem;
}
.reset-password {
  width: 130px;
  padding: 0;
  padding: 10px 5px;
  font-size: .8rem;
  margin-top: -10px;
  color: white;
}

.password-container {
  width: 40%;
  background-color: aqua;
}

.newPassword, .confirmPassword {
  width: 90%;
  height: 35px;
  margin-bottom: 5px;
  padding-left: 10px;
  outline: 0;
  border: 1px solid gainsboro;
  border-radius: 2px;
  font-size: 1rem;
}

.confirmPassword {
  margin-bottom: 18px;
}

.login-options {
  display: flex;
  align-items: center;
  width: 90%;
}

.login-options div {
  color: red;
  height: 100%;
}

@media (min-width: 451px) and (max-width: 900px) {
  .login-content span {
    margin-bottom: 10px;
    font-size: .95rem;
  }
  .reset-password {
    width: 130px;
    padding: 0;
    padding: 10px 5px;
    font-size: .8rem;
    margin-top: -10px;
    color: white;
  }

  .password-container {
    width: 40%;
    background-color: aqua;
  }

  .newPassword, .confirmPassword {
    width: 90%;
    height: 35px;
    margin-bottom: 5px;
    padding-left: 10px;
    outline: 0;
    border: 1px solid gainsboro;
    border-radius: 2px;
    font-size: 1rem;
  }

  .confirmPassword {
    margin-bottom: 18px;
  }

  .login-options {
    display: flex;
    align-items: center;
  }

  .login-options div {
    color: red;
    height: 100%;
  }
}


@media (max-width: 450px) {
  .login-content span {
    margin-bottom: 5px;
    font-size: .7rem;
  }
  .reset-password {
    width: 130px;
    padding: 0;
    padding: 10px 5px;
    font-size: .8rem;
    margin-top: -10px;
    color: white;
  }

  .password-container {
    width: 40%;
    background-color: aqua;
  }

  .newPassword, .confirmPassword {
    width: 90%;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    outline: 0;
    border: 1px solid gainsboro;
    border-radius: 2px;
    font-size: .75rem;
  }

  .confirmPassword {
    margin-bottom: 18px;
  }

  .login-options {
    display: flex;
  }

  .login-options div {
    font-size: .7rem;
    margin-left: 10px;
  }
}